<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #shoppingListForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              name="ingridientName"
              ngModel
              #ingridientName="ngModel"
              required/>
        </div>

        <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              id="amount"
              class="form-control"
              name="ingridientAmount"
              ngModel
              #ingridientAmount="ngModel"
              required
              pattern="^[1-9]+[0-9]*$"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
            <span
            class="help-block"
            *ngIf="ingridientName.invalid && ingridientName.touched">Please enter ingridient name!
          </span>
        </div>
        <div class="col-sm-2">
            <span
            class="help-block"
            *ngIf="ingridientAmount.invalid && ingridientAmount.touched">Please enter valid ingridient amount!</span>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="shoppingListForm.invalid">{{ editMode ? 'Update' : 'Add'}}</button>
            <button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!editMode">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
    </form>
  </div>
</div>
