<form [formGroup]="recipeInfo" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12 btn-toolbar form-group">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="recipeInfo.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        [formControlName]="'name'" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        class="form-control"
        rows="3"
        [formControlName]="'description'"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <label for="imageURL">Image URL</label>
      <input
        id="imageURL"
        type="text"
        class="form-control"
        [formControlName]="'imageURL'"
        #imageURL/>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12 form-group">
        <img [src]="imageURL.value" class="img-responsive" />
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12 form-group" [formArrayName]="'ingredients'">
      <div
        class="row"
        *ngFor="let ingredientControl of getIngredientsControls(); let i = index"
        [formGroupName]="i"
        style="margin-bottom: 10px;">
        <div class="col-xs-8">
          <input class="form-control" type="text" [formControlName]="'name'"/>
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="number" [formControlName]="'amount'"/>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
        </div>
      </div>
      <hr/>
      <button class="btn btn-primary" type="button" (click)="onAddIngredient()">Add ingredient</button>
    </div>
  </div>
</form>
